@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

#wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Ubuntu', sans-serif;
   height: 100vh;
   /* background-color: #090e14; */
   background: repeating-conic-gradient(#090e14 12.5% 37.5%, #07090c 12.5% 62.5%) 
              50% / 200px 200px
}

#credit {
   position: fixed;
   bottom: .5em;
   right: .5em;    
   color: #b6d2de;

}

p {
   font-family: 'Merriweather', serif;
}