@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

#wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Ubuntu', sans-serif;
   height: 100vh;
   background-color: #090e14;
}