#field {
    position: relative;

    filter: drop-shadow(0 0 1em #75a4ba);
}

#board {
    width: 550px;
    height:550px;
    box-sizing: border-box;
    border: .5em solid #141b1f;
    display: flex;
    position: relative;
}

@media screen and (max-width: 550px) {
    #board {
        max-width: 100vw;
        max-height: 100vw;
    }
}

.white {
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
}

.black {
    flex-direction: column;
    flex-wrap: wrap;
}

#POVFlip {
    width: 30px;
    height: 30px;
    border-radius: 0 0 .5em .5em;
    position: absolute;
    right: 0px;
    bottom: -30px;
    background-color: #141b1f;
    background-image: url('flip.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}