#connectorPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    min-height: 150px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
    border-radius: .5em;
    background-color:#141b1f;
    text-align: center;
    color: #b6d2de;
}

.button {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: .5em;
    margin: .5em 0;
    text-align:center;
    border-radius: .5em;
    background-color: #b6d2de;
    color: #141b1f;
}

.back {
    position: absolute;
    top: .5em;
    left: .5em;
    width: 25px;
    height: 25px;
    background-image: url('back.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}