#tMarker {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 200px;
    color: #b6d2de;
    background-color: #141b1f;
    padding: .5em 2em;
    box-sizing: border-box;
    transform-origin: top left;
    filter: drop-shadow(0 0 .5em #75a4ba88);
}

@media screen and (max-width: 685px) {
    #tMarker {
        transform: rotate(0deg) skewX(-20deg);
    }

    .turnText {
        transform: skewX(20deg);
    }
}
@media screen and (min-width: 686px) {
    #tMarker {
        transform: rotate(-90deg) translate(-100%) skewX(20deg);
    }

    .turnText {
        transform: skewX(-20deg);
    }
}